# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env

# Environment variables
*.env

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Database files (if any local)
*.db
