version: "3.9"

services:
  mysql:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"

  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    depends_on:
      - mysql
    ports:
      - "8000:8000"
